services:
  - type: web
    name: karapp
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    disk:
      name: app-data
      mountPath: /data
      sizeGB: 1